<html>
    <head>
        <title>Layout</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- HEADER -->
        <header id = "header-container">
            <!-- MENU -->
            <div class = "menu-container">
                <header class = "menu-header">
                    <p class = "bolder-text slider-text">2-4 апреля 2017</p>
                    <div class = "slider-circles"></div>
                    <div class = "slider-circles active"></div>
                    <div class = "slider-circles"></div>
                    <div class = "slider-circles"></div>
                </header>
                <nav id = "menu-nav">
                    <a class = "nav-element" href="#section1">
                        <p class = "nav-linktext">Пакет "Бизнес"</p>
                        <div class = "nav-rhombus">
                            <div class = "nav-circle"><p>BIZ</p></div>
                        </div>
                    </a>
                    <a class = "nav-element" href="#section2">
                        <div class = "nav-rhombus">
                            <div class = "nav-circle"><p>VIP</p></div>
                        </div>
                        <p class = "nav-linktext">Пакет "VIP"</p>
                    </a>
                    <a class = "nav-element" href="#section3">
                        <p class = "nav-linktext">Индивидуальная презентация</p>
                        <div class = "nav-rhombus">
                            <div class = "nav-circle"><p>@</p></div>
                        </div>
                    </a>
                    <a class = "nav-element" href="#section4">
                        <div class = "nav-rhombus">
                            <div class = "nav-circle"><p>!</p></div>
                        </div>
                        <p class = "nav-linktext">Про AIM</p>
                    </a>
                    <a class = "nav-element" href="#section4">
                        <p class = "nav-linktext">4-годовая программа</p>
                        <div class = "nav-rhombus">
                            <div class = "nav-circle"><p>+</p></div>
                        </div>
                    </a>
                    <div class = "clear"></div>
                </nav>
                <footer class = "menu-footer">
                    <div class = "menu-footer-reg">
                        <span>Регистрация до </span><span class = "red-text">15 февраля</span>
                    </div>
                    <a href="#">
                        <div class = "menu-pres-btn">
                            <p class = "pres-button-text">Загрузить презентацию</p>
                        </div>
                    </a>
                </footer>
            </div>
            <!-- POLYGONE -->
            <div class = "polygone-main-container">
                <div class = "polygone-left-square">
                    <div class = "pls-squares"></div>
                    <div class = "pls-squares"></div>
                    <div class = "pls-squares clear"></div>
                </div>
                <div class = "polygone-right-square">
                    <div class = "prs-square">
                    </div>
                </div>
                <div class = "video-container">
                    <video autoplay muted loop>
                        <source src="videos/video1.mp4">
                    </video>
                </div>
            </div>
        </header>

        <!-- SECTION 1 -->
        <section id = "section1">
            <div class = "rhombus-container">
                <div class = "little-rhombus top-left-lr">
                </div>
                <div class = "big-rhombus left-lr">
                    <video autoplay muted loop>
                        <source src="videos/video1.mp4">
                    </video>
                </div>
                <div class = "little-rhombus bottom-left-lr">
                </div>
            </div>
            
            <div class = "section-info">
                <h2>Пакет "Бизнес"</h2>
                <h3>$10 МЛН.</h3>
                <ul>
                    <li>Lorem Ipsum.</li>
                    <li>Proin gravida nibh vel velit auctor aliquet</li>
                    <li>Aenean sollicitudin, lorem quis bibendum auctor</li>
                    <li>Nisi elit consequat ipsum, nec sagittis sem nibh id elit</li>
                    <li>Morbi accumsan ipsum velit</li>
                </ul>
                <a href="">
                    <div class = "btn-bordered">Заказать</div>
                </a>
            </div>
        </section>

        <!-- SECTION 2 -->
        <section id = "section2" class = "clearfix">
            <div class = "rhombus-container" style="float:right">
                <div class = "little-rhombus top-right-lr">
                </div>
                <div class = "big-rhombus">
                    <video autoplay muted loop>
                        <source src="videos/video1.mp4">
                    </video>
                </div>
                <div class = "little-rhombus bottom-right-lr">
                </div>
                <div class="spacer" style="clear: both;"></div>
            </div>
            
            <div class = "section-info">
                <h2>Пакет "VIP"</h2>
                <h3>$100 млн.</h3>
                <ul>
                    <li>Lorem Ipsum.</li>
                    <li>Proin gravida nibh vel velit auctor aliquet</li>
                    <li>Aenean sollicitudin, lorem quis bibendum auctor</li>
                    <li>Nisi elit consequat ipsum, nec sagittis sem nibh id elit</li>
                    <li>Morbi accumsan ipsum velit</li>
                </ul>
                <a href="">
                    <div class = "btn-bordered">Заказать</div>
                </a>
            </div>
        </section>
        
        <!-- SECTION 3 -->
        <section id = "section3">
            <div class = "rhombus-container">
                <div class = "little-rhombus top-left-lr">
                </div>
                <div class = "big-rhombus left-lr">
                    <video autoplay muted loop>
                        <source src="videos/video1.mp4">
                    </video>
                </div>
                <div class = "little-rhombus bottom-left-lr">
                </div>
                <div class = "little-rhombus top-gray-lr">
                </div>
            </div>
            
            <div class = "section-info">
                <h2>Индивидуальная <br> презентация</h2>
                <ul>
                    <li>Lorem Ipsum.</li>
                    <li>Proin gravida nibh vel velit auctor aliquet</li>
                    <li>Aenean sollicitudin, lorem quis bibendum auctor</li>
                    <li>Nisi elit consequat ipsum, nec sagittis sem nibh id elit</li>
                    <li>Morbi accumsan ipsum velit</li>
                </ul>
                <a href="">
                    <div class = "btn-bordered">Заказать</div>
                </a>
            </div>
        </section>
        <!-- SECTION 4 -->
        <section id = "section4" class = "big-video-main-container">
            <div id = "triangle-first-top" class = "triangles"></div>
            <div id = "triangle-second-top" class = "triangles"></div>
            <div id = "triangle-third-top" class = "triangles"></div>
            <div id = "triangle-first-bot" class = "triangles"></div>
            <div id = "triangle-second-bot" class = "triangles"></div>
            <div id = "triangle-third-bot" class = "triangles"></div>
            <div class = "video-container">
                <video autoplay muted loop class = "big-video">
                    <source src="videos/video1.mp4">
                </video>
            </div>
        </section>
    </body>
</html>